:root {
    line-height: 1.55;

    color-scheme: light, dark;
    color: #e9e9e9;
    background-color: #202020;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --fg: #1d1d1d;
    --bg: #e9e9e9;
    --bg-dark: #d4d4d4;
    --primary: #ce6000;
    --primary-hover: #b55400;
}

.dark-theme {
    --fg: #e9e9e9;
    --bg: #1d1d1d;
    --bg-dark: #101010;
    --primary: #ee7915;
    --primary-hover: #e06d0a;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
}

body,
input,
button {
    font-family: Varta, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

hr {
    border: 0;
    border-bottom: 1px solid var(--bg-dark);
    margin: 1rem 0;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.btn {
    background-color: var(--primary);
    border: 0;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
}

.btn:hover {
    background-color: var(--primary-hover);
}

.btn-smaller {
    padding: 0.25rem;
}

.info-box {
    background-color: var(--bg-dark);
    margin-bottom: 2rem;
    padding: 0.5rem 1.5rem;
}

.wrapper {
    padding: 0 1rem;
}

.row-justified {
    display: flex;
    justify-content: space-between;
}

.page-header {
    border-bottom: 1px solid var(--bg-dark);
}

.logo {
    font-weight: 700;
    margin: 0.5rem 0;
}

.logo > a {
    color: var(--fg);
    text-decoration: none;
}

.logo-coloured {
    color: var(--primary);
}

.nav-toggle-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.nav-bars {
    color: #e9e9e9;
    font-size: 2rem;
}

.main-navigation {
    border-top: 1px solid var(--bg);
    margin-bottom: 1.5rem;
}

.main-navigation ul {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
    padding: 0;
    text-align: center;
}

.main-navigation a {
    color: var(--fg);
    display: block;
    font-size: 1.33rem;
    font-weight: bold;
    text-decoration: none;
}

.main-navigation a:hover {
    color: var(--primary);
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
}

.search-input {
    border: none;
    border-radius: 50px;
    flex: 1;
    font-size: 1.33rem;
    padding: 0.5rem 1.4rem 0.25rem;
}

.search-btn {
    background-color: var(--primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.67rem;
}

.search-btn:hover {
    background-color: var(--primary-hover);
}

.search-icon {
    display: block;
    font-size: 1.33rem;
}

.page-content {
    flex: 1;
    width: 100%;
}

.page-footer {
    border-top: 1px solid var(--bg-dark);
    margin: 2rem auto;
    padding-top: 2rem;
    text-align: center;
    width: 100%;
}

.tracklist {
    border: 1px solid var(--bg-dark);
    list-style: none;
    padding: 0;
    width: 100%;
}

.tracklist .track:nth-child(2n) {
    background-color: var(--bg-dark);
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.5rem 0.25rem;
    width: 100%;
}

.track-number {
    font-weight: bold;
}

.track-title {
    flex: 1;
}

.info {
    border-top: 1px solid var(--bg-dark);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    padding-top: 1rem;
    width: 100%;
}

.info-category {
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
    width: 100px;
}

.album-rating,
.major-genre {
    font-weight: bold;
    font-size: 1.1rem;
}

.album-rating {
    color: var(--primary);
}

.review-header {
    background-color: var(--bg-dark);
    padding: 0.5rem 1rem 0.25rem;
}

.review-header a {
    font-weight: bold;
    margin-right: 1rem;
}

.rating {
    float: right;
}

.review-summary,
.review-body {
    padding: 0 1rem;
}

.review-summary {
    font-weight: bold;
}

.album-list-heading {
    margin-bottom: 0.5rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 2rem;
    width: 100%;
}

table img {
    display: block;
    width: 50px;
}

.table-header {
    border-bottom: 1px solid var(--bg-dark);
}

th {
    font-size: 0.8rem;
}

td {
    padding-top: 0.5rem;
}

th:nth-child(2),
td:nth-child(2) {
    width: 100%;
}

td:nth-child(n + 3) {
    text-align: center;
}

th:nth-child(n + 2),
td:nth-child(n + 2) {
    padding-left: 1rem;
}

td:last-of-type {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.2rem;
}

.album-list-year,
td:nth-child(3),
td:nth-child(4) {
    font-size: 0.8rem;
}

.user-list {
    margin-bottom: 1rem;
}

.user-list a {
    display: block;
}

.user-list a:first-of-type {
    font-size: 1.1rem;
}

.user-list a:last-of-type {
    font-weight: bold;
    font-size: 0.9rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.column {
    margin-bottom: 2rem;
}

.sidebar {
    width: 100%;
}

@media screen and (max-width: 550px) {
    .rating {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 980.97px) {
    .album-artist {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .flex-md {
        display: flex;
        gap: 1rem;
    }

    .column {
        margin-bottom: 1rem;
        width: 100%;
    }

    .sidebar {
        min-width: 37.5%;
        max-width: 37.5%;
    }

    .info {
        border: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .album-list-year,
    td:nth-child(3),
    td:nth-child(4) {
        font-size: 1rem;
    }

    .hide-on-laptop {
        display: none;
    }
}

@media screen and (min-width: 981px) {
    .wrapper {
        max-width: 1600px;
        margin: auto;
    }

    .header-contents {
        display: flex;
        justify-content: space-between;
    }

    .main-navigation {
        border-top: 0;
        display: flex;
        justify-content: space-between;
        flex: 1;
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .search-box {
        flex: 1;
        margin-left: 2rem;
        max-width: 600px;
    }

    .flex-lg {
        display: flex;
        gap: 2rem;
    }

    .album-artist::before {
        content: " - ";
    }

    .hide-on-desktop {
        display: none;
    }

    .gap-2 {
        gap: 2rem;
    }
}

@media screen and (min-width: 1100px) {
    .col-thinner {
        padding: 0 5rem;
    }
}

.order-end {
    order: 100;
}

.align-left {
    text-align: left;
}
